.show-form{
    opacity: 1;
    transform: translateY(0px);
    transition: all .3s;
    transition-delay: .1s;
}

.hide-form{
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: all .3s;
}

.login-form > * {
    margin-bottom: 15px;
}

.signup-form > * {
    margin-bottom: 15px;
}

.landing{
    margin-left: 0;
    padding: 0;
}